fastapi
uvicorn
sqlalchemy
psycopg2-binary  # برای PostgreSQL
pydantic
python-jose[cryptography]  # برای JWT
passlib[bcrypt]  # برای hashing پسورد
python-dotenv  # برای .env
alembic  # اختیاری برای migration
pydantic[email]